.btn-start { 
   background: rgb(112 194 208);
   padding: 15px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin: 250px;
    text-align: center;
    color: #f5f5f5;
    text-decoration: none;
    margin-bottom: 50px;
    }